# This file contains the mcus you wish to build for. Add them one per line
# prefixed with the keyword "build" and followed by any defines to be passed
# to the compiler.
build msp430f2012 "-DUPTIME_USE_WDT=1"
build msp430f2013 "-DUPTIME_USE_WDT=1"
build msp430g2231 "-DWITH_HUART=1 -DUPTIME_USE_WDT=1"
build msp430g2252 "-DWITH_HUART=1 -DUPTIME_USE_WDT=1"
build msp430g2452 "-DWITH_HUART=1 -DUPTIME_USE_WDT=1"
build msp430g2553 "-DWITH_HUART=1 -DUPTIME_USE_WDT=1"
